/* #FFCC01
#C8A103
#2E69B2 */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@font-face {
    font-family: "Pokemon Solid";
    src: url("/Users/jihyekwak/Library/Fonts/PokemonSolidNormal-szWR.ttf")
}

@font-face {
    font-family: "Pokemon Hollow";
    src: url("/Users/jihyekwak/Library/Fonts/PokemonHollowNormal-pyPZ.ttf")
}

* {
    font-family: 'Ubuntu', sans-serif;
}

/* Home */

#home-h1 {
    font-family: "Pokemon Hollow";
    font-size: 150px;
    text-align: center;
    color: #2E69B2;
    background-color: #C8A103;
    padding: 25px;
    margin-top: 0;
}

.home-h3 {
    /* font-family: "Pokemon Solid"; */
    text-align: center;
    font-size: 40px;
    margin: 30px;
}

.home-p {
    text-align: center;
    font-size: 20px;
}

.about {
    background-color: #2E69B2;
    height: 100px;
}

nav {
    background-color: #C8A10370;
    padding: 5px;
    overflow: hidden;
}

nav a {
    display: inline;
    text-decoration: none;
    color: black;
    float: left;
    padding: 15px 10px;
    font-size: 17px;
}

.nav-right {
    float: right;
}

nav a:hover {
    background-color: #C8A10380;
}

/* Index */

h1 {
    margin: 20px;
}

.search-pokemon {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.search-pokemon input {
    width: 300px;
    height: 30px;
    border: 2px solid #2E69B2;
    border-radius: 3px;
    margin: 1px;
}

.search-pokemon input[type="submit"] {
    width: 80px;
    background-color: #2E69B2;
    color: white;
    border: none;
}

.search-pokemon a {
    color: gray;
    margin-left: 5px;
}

.index {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 30px;
}

.index-card-content {
    background-color: #2E69B250;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    height: 400px;
    margin: auto auto;
}

.index-card-content a {
    text-decoration: none;
    color: black;
}

.index-card-content:hover {
    box-shadow: 10px 10px 10px 0px gray;
    transform: scale(1.1);
}

/* Detail */

.detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.detail-img {
    background-color: #2E69B250;
    border-radius: 5px;
    padding: 10px;
}

.detail-detail li {
    line-height: 160%;
}

.edit-delete {
    margin-top: 5%;
    margin-left: 60%;
}

.edit-delete a {
    text-decoration: none;
    margin: 5px;
}

/* Create */

.create-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 40%;
    margin-top: 5%;
}

.create-form input {
    width: 300px;
}

.create-form textarea {
    height: 100px;
}

.create-form select {
    width: 300px;
}

.create-form label {
    margin: 10px;
}

.create-form input[type="submit"] {
    margin-top: 1%;
    width: 100px;
}

.list-h1 {
    display: inline;
    margin-right: 10px;
}

/* League index */

.league-index {
    background-color: #C8A10330;
    border-radius: 5px;
    width: 500px;
    margin: 20px auto;
    padding: 0.1px 10px 10px;
}

.league-index li{
    line-height: 140%;
}

.league-name {
    border-bottom: 2px solid #C8A103;
    padding: 2px;
}

.league-edit-delete {
    margin-left: 70%;
}

.league-edit-delete a {
    text-decoration: none;
}

/* Profile */

.collection-card-content {
    background-color: #2E69B250;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    height: 400px;
    margin: auto auto;
}

.collection-card-content a {
    text-decoration: none;
    color: black;
}

.collection-detail {
    display: none;
    padding: 10px;
}

.collection-card-content:hover {
    background-color: #FFCC0150;
    box-shadow: 10px 10px 10px 0px gray;
}

.collection-card-content:hover .collection-detail {
    display: block;
}

.collection-card-content:hover .collection-name-img {
    display: none;
}

.collection-detail h3 {
    background-color: #C8A103;
    padding: 5px;
    border-radius: 3px;
}


.collection-detail ul {
    padding-left: 20px;
}

.collection-detail li {
    text-align: start;
    line-height: 130%;
}