{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" >
    <script src="{% static 'scripts/app.js' %}" defer></script>
    <title>{% block title %}{% endblock%}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home |</a></li>
            <li><a href="/about">About |</a></li>
            <li><a href="/index">Index |</a></li>
            <!-- <li><a href="/index/new">Add a Pokemon |</a></li> -->
            <li><a href="/moves">Pokemon Moves |</a></li>
            <!-- <li><a href="/moves/new">Add a Pokemon Move |</a></li> -->
            <li><a href="/leagues">Leagues |</a></li>
            <!-- <li><a href="/leagues/new">Add a League |</a></li> -->
            <li><a href="/user/{{user.username}}">Profile |</a></li>
            <li><a href="/users">Users |</a></li>
            <li><a href="/admin">Admin |</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock%}
</body>
</html>