{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" >
    <script src="{% static 'scripts/app.js' %}" defer></script>
    <title>{% block title %}{% endblock%}</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <!-- <a href="/about">About</a> -->
        <a href="/index">Pokemon Index</a>
        <a href="/index/new">Add a Pokemon</a>
        <a href="/moves">Moves</a>
        <a href="/leagues">Leagues</a>
        <a href="/users">Trainers</a>
        {% if user.is_authenticated %}
        <div class="nav-right">
            <a>Hello, {{ user.username}}</a>
            <a href="/user/{{user.username}}">My Collection</a>
            <a href="/logout">Logout</a>    
        </div>
        {% else %}
        <div class="nav-right">
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        </div>

        {% endif %}
        <!-- <a href="/admin">Admin</a> -->
    </nav>

    {% block content %}
    {% endblock%}
</body>
</html>