{% extends 'base.html' %}

{% block content %}
    <h1>Battle Details</h1>

    <div>
        <div>
            <h2>{{battle.battle}}</h2>
            {% for pokemon in battle.pokemon_set.all %}
                <p>{{pokemon.name}} {{pokemon.type}}</p>
            {% empty %}
                <p>No Pokemon is in this battle</p>
            {% endfor %}
        </div>
        <div>
            <a href="{% url 'battle_update' battle.id %}">Edit</a>
            <a href="{% url 'battle_delete' battle.id %}">Delete</a>
        </div>
    </div>

{% endblock %}