{% extends 'base.html' %}

{% block title %}
Index of Pokemons
{% endblock %}

{% block content %}
<h1>My Pokemon Collection ({{ pokemons|length }})</h1>
<main class="collection">
    {% for pokemon in pokemons %}
        <div class="pokemon-collection">
                <div class="pokemon-collection-name-img">
                    <h3>{{pokemon.name}}</h3>
                    <img src="{{pokemon.img}}" alt="{{pokemon.name}}">
                    <p>{{pokemon.type}} Type</p>
                </div>
            
            <div class="pokemon-collection-detail">
                <h3>{{pokemon.name}}</h3>
                <ul>
                    <li><p>Type: {{pokemon.type}}</p></li>
                    <li>Description: <p>{{pokemon.description}}</p></li>
                    <li>Abilities: 
                    {% for ability in pokemon.abilities %}
                        {{ability}},
                    {% endfor %}</li>
                    <li>Collected: {{pokemon.collected}}</li>
                    <li>Evolved: {{pokemon.evolved}}</li>
                </ul>
            </div>
        </div>
    {% endfor %}
</main>
{% endblock %}

