{% extends 'base.html' %}

{% block content %}
<h3>{{pokemon.name}}</h3>
    <img src="{{pokemon.img}}" alt="{{pokemon.name}}">
    <ul>
        <li>Type: {{pokemon.type}}</li>
        <li>Description: {{pokemon.description}}</li>
        <li>Abilities: 
            {% for ability in pokemon.abilities %}
                {{ability}},
            {% endfor %}</li>
        <li>Moves: 
            {% for move in pokemon.moves.all %}
                {{move}}
            {% endfor %}
        </li>
        <li>Evolved: {{pokemon.evolved}}</li>
        <li>Gender: {{pokemon.gender}}</li>
        <li>Leagues: 
            {% for league in pokemon.leagues.all %}
                {{league}}
            {% endfor %}
        </li>
        <li>Date: {{pokemon.created_at}}</li>
    </ul>
    <div>
        <div>
            <a href="{% url 'update' pokemon.pk %}"> 
                <button>Update Pokemon</button>  
            </a>
        </div>
        <div>
            <form method="post">
                {% csrf_token %}
                <input type="submit" value="Delete Pokemon" />
            </form>
        </div>
        
    </div>
{% endblock %}