{% extends 'base.html' %}

{% block title %}
Index of Pokemons
{% endblock %}

{% block content %}
<h1>Index of Pokemons</h1>
<main class="index">
    {% for pokemon in pokemons %}
    <div class="pokemon-index">
        <img src="{{pokemon.img}}" alt="{{pokemon.name}}">
        <h3>{{pokemon.name}}</h3>
        <ul>
            <li>Type: {{pokemon.type}}</li>
            <li>Description: {{pokemon.description}}</li>
            <li>Abilities: 
                {% for ability in pokemon.abilities %}
                    {{ability}},
                {% endfor %}</li>
            <li>Evolved: {{pokemon.evolved}}</li>
            <li>Collected: {{pokemon.collected}}</li>
            <a href="{% url 'detail' pokemon.pk %}">
                <button>Detail</button>
            </a>
        </ul>
    </div>
    {% endfor %}
</main>
{% endblock %}