{% extends 'base.html' %}

{% block title %}
Index of Pokemons
{% endblock %}

{% block content %}

<form>
    <div>
        <input type="text" name="name" placeholder="Pokemon Name">
        <input type="submit" value="Search">
        <a href="{% url 'index' %}">Clear Search</a>
        <select>
            <option>type</option>
        </select>
    </div>
</form>
<main class="index">
    <h1>{{header}}</h1>
    {% for pokemon in pokemons %}
    <div class="pokemon-index">
        <img src="{{pokemon.img}}" alt="{{pokemon.name}}">
        <h3>{{pokemon.name}}</h3>
        <ul>
            <li>Type: {{pokemon.type}}</li>
            <li>Description: {{pokemon.description}}</li>
            <li>Abilities: 
                {% for ability in pokemon.abilities %}
                    {{ability}},
                {% endfor %}</li>
            <li>Evolved: {{pokemon.evolved}}</li>
            <li>Collected: {{pokemon.collected}}</li>
            <a href="{% url 'detail' pokemon.pk %}">
                <button>Pokemon Detail</button>
            </a>
        </ul>
    </div>
    {% endfor %}
</main>
{% endblock %}