{% extends 'base.html' %}

{% block content %}

<h1>{{username}}'s Profile</h1>



    <h1>{{username}}'s Collection</h1>
    <h3>Collected Pokemons :  {{ pokemons|length }}</h3>
<main class="collection">
    {% for pokemon in pokemons %}
        <div class="pokemon-collection">
            <a href="{% url 'detail' pokemon.pk %}">
                <div class="pokemon-collection-name-img">
                    <h3>{{pokemon.name}}</h3>
                    <img src="{{pokemon.img}}" alt="{{pokemon.name}}">
                    <p>{{pokemon.type}} Type</p>
                </div>
            
                <div class="pokemon-collection-detail">
                    <h3>{{pokemon.name}}</h3>
                    <ul>
                        <li><p>Type: {{pokemon.type}}</p></li>
                        <li>Description: <p>{{pokemon.description}}</p></li>
                        <li>Abilities: 
                        {% for ability in pokemon.abilities %}
                            {{ability}},
                        {% endfor %}</li>
                        <li>Moves: 
                            {% for move in pokemon.moves.all %}
                                {{move}}
                            {% endfor %}
                        </li>
                        <li>Evolved: {{pokemon.evolved}}</li>
                        <li>Gender: {{pokemon.gender}}</li>
                        <li>Leagues: 
                            {% for league in pokemon.leagues.all %}
                                {{league}}
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </a>
        </div>
        {% empty %}
        <p>No pokemons yet</p>

    {% endfor %}
</main>

{% endblock %}